*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
  padding: 0;
  margin: 0;
}

/* header */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
}

.menu__link:hover {
  background: #131313;
  color: #fff;
  transition: all 0.3s;
}

/* bike */

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  min-width: 630px;
}

.bike__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.bike__sub {
  margin: 0 0 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
}

.bike__link {
  display: inline-block;
  margin-top: 80px;
  background-color: #131313;
  padding: 28px 81px 28px 81px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.bike__link:hover {
  background: #ff4040;
  transition: all 0.3s;
}

/* bike-slider */

.bike-slider .slick-dots {
  right: 0;
  top: 50px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
}

.slick-dots button:hover,
.slick-active button {
  background-color: #ff4040;
  transition: all 0.3s;
}

.bike-list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike-list__item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike-list__num {
  font-weight: 700;
  text-transform: uppercase;
  color: #131313;
}

.bike-list__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #131313;
  margin: auto 0;
}

/* advantages */

.advantages {
  margin-bottom: 150px;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__column:nth-child(2) {
  margin-right: 120px;
  flex-basis: 490px;
}

.advantages__column:nth-child(1) {
  margin-right: 60px;
  flex-basis: 570px;
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.advantages__text {
  margin-top: 10px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
}

.advantages__descr + .advantages__descr {
  margin-bottom: 50px;
}

/* stats */

.stats {
  margin-bottom: 150px;
}

.stats__inner {
  display: flex;
  justify-content: space-between;
}

.stats__column:nth-child(1) {
  margin-right: 60px;
  flex-basis: 570px;
}

.stats__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.stats__line {
  display: flex;
  padding-top: 5px;
}

.stats__list + .stats__list {
  padding-top: 30px;
}

.stats__text {
  margin: 0;
  display: inline-block;
  padding: 2px 0 3px;
  min-width: 570px;
  min-height: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
}

.stats__name {
  padding-right: 25px;
  flex-basis: 285px;
}

.stats__descr {
  flex-basis: 285px;
}

.stats__column:nth-child(2) {
  align-self: center;
}

/* slider */

.slider {
  margin-bottom: 50px;
}

.slider__items .slick-dots {
  top: 0;
  left: 0;
}

.slider__item {
  padding-left: 50px;
}

/* order */

.order {
  margin-bottom: 100px;
}

.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.form__descr {
  max-width: 300px;
  margin-bottom: 30px;
}

.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.order__inner {
  position: relative;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form__text {
  color: #6f6f6f;
  opacity: 0.5;
}

.form__text {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__bike {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

.form__radio-style {
  display: inline-block;
  background: #000;
  width: 80px;
  height: 12px;
  border-radius: 30px;
  cursor: pointer;
}

.form__radio-style--gray {
  background: #6f6f6f;
}

.form__radio-style--white {
  background: #ffffff;
  border: 1px solid #6f6f6f;
}

.form__radio-style--red {
  background: #ff4040;
}

.form__label + .form__label {
  margin-left: 23px;
}

.order__btn {
  background: #131313;
  border: 1px solid #131313;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 28px 81px 28px 81px;
  cursor: pointer;
}

.order__btn:hover {
  background: #ff4040;
  transition: all 0.3s;
}

.form__radio:checked + .form__bike {
  display: block;
}

.form__bike-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 100px;
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0;
  border: 1px solid #ff4040;
  border-radius: 50%;
  transform: translateX(-50%);
}

.form__bike-price:after {
  content: "";
  width: 220px;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 0;
}

/* footer */
